.footer {
  background-color: #333333;
  width: 100%;
  border-top: 1px solid #888888;
  position: fixed;
  bottom: 0;
  z-index:5;
}
.footer-content {
  max-width: 1280px;
  margin: auto;
  color: #E0E0E0;
  padding: 20px;
}
