<div class="intro">
  <div class="intro-container">
    <div class="panel panel-default panel-primary">
      <div class="panel-heading">Introduction to Weather Forcast Demo</div>
      <div class="panel-body">
        <h1 class="panel-titles">Weather Forcast Demo</h1>
        <div class="panel-contents">
          <p>This project was developed using Angular2 with angular-cli version 1.0.0-beta.17.</p>
          <p>The website is designed and developed by James Le at 2016 Oct</p>
        </div>
        <h2 class="panel-titles">Environment setup</h2>
        <div class="panel-contents">
          <p>Firstly, you will need to install <strong>NPM</strong> and <strong>Git</strong> in order to make it work.</p>
          <p>Once you have installed NPM, all you will have to do is run the following commands:</p>
          <div class="well well-lg">
            npm install
          </div>
        </div>
        <h2 class="panel-titles">Runing server</h2>
        <div class="panel-contents">
          <p>Run the following commands for a dev server:</p>
          <div class="well well-lg">
            ng serve
          </div>
          <p>Navigate to <a href="http://localhost:4200/">http://localhost:4200/</a>. The app will automatically reload if you change any of the source files.</p>
          <p>Run the following commands to build the project:</p>
          <div class="well well-lg">
            ng build
          </div>
          <p>The build artifacts will be stored in the dist/ directory.</p>
          <p>For production build, use the <strong>-prod</strong> flag.</p>
        </div>
        <h2 class="panel-titles">Running unit tests</h2>
        <div class="panel-contents">
          <p>Run the following commands to execute the unit tests via <a href="https://karma-runner.github.io/">Karma</a>:</p>
          <div class="well well-lg">
            ng test
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
